.header {
  position: relative;
  height: 45px;
  min-height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid rgba(0, 6, 47, 0.5);
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.30);
}

.logo-app {
  position: absolute;
  //top:15px;
  left: 15px;
  display: flex;
  align-items: center;
}

.app-name {
  color: #59eaff;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-main {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .nav-main {
    display: none;
  }
}

.header-link {
  font-weight: 600;
  color: #c5c7c5;
  text-decoration: none;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  &:hover{
    color: white;
  }

  &.active {
    font-weight: 600;
    text-decoration: none;
    color: #99ee16;
  }
}

.menu {
  position: absolute;
  right: 15px;
  display: flex;
  align-items: center;
}
