.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Solutions_BACKGROUND.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  opacity: 0.15;
}

.solution {
  position: absolute;
  top: 70px;
  width: 100%;
  padding: 10px 12px 100px;
  gap: 32px;

  &__title {
    font-weight: 500;
    font-size: 52px;
    line-height: 150%;
    text-align: center;
    color: var(--color-success-250)
  }
}

.sectionTitle {
  font-size: 36px;
  text-transform: uppercase;
  color: var(--color-second-400);
  text-align: center;
  margin-bottom: 32px;
}

.mobileSection {
  display: flex;
  justify-content: center;

  margin-bottom: 4rem;

  &__wrapper {
    max-width: 1200px;
    gap: 20px;
    padding: 20px 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
  }

  &__button {
    width: 100%;
    border: 2px var(--color-second-400) solid;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    opacity: .65;
    background: rgba(164, 255, 255, 0.25);
    font-size: 24px;
    color: #A3EEFF;
    font-weight: bold;
    gap: 16px;
    padding: 0 16px;
  }

  &__textWrapper {
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
  }

  &__image {
    max-width: 280px;
    animation: glow 2s infinite alternate;
    filter: drop-shadow(0 0 100px rgba(0, 255, 255, 0.5));
  }

  &__imageWrapper {
    display: flex;
    justify-content: center;
  }

  &__buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 20px
  }
}
