.idea
.vscode

/node_modules
package-lock.json

/server/node_modules
/server/package-lock.json

/server/.idea
/client/.idea

/client/node_modules
/client/.firebase
/client/.next
/client/.firebase/

/server/.env
/client/.env
.env*
*.env
/client/yarn.lcck
/server/yarn.lcck
# teraform dependencies ingore
.terraform*
*terraform.tfstate*
*terraform*.backup
/.terraform
/.terraform.lock.hcl
terraform.tfstate
secrets-server.yaml
secrets-client.yaml

/server/yarn.lock
/client/yarn.lock
