.page {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 70px - 70px)
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
}
