.uploadPhoto {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 24rem;
    overflow: hidden;
    //padding: 0.5rem;
    //margin-top: .5rem;
    //background-color: rgba(83, 255, 255, 0.05);
    border-radius: 16px;
    border: 2px solid rgba(83, 255, 255, 0.08);
  }

  &__uploadPhotoContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 0.5rem;
    border: 3px dashed var(--color-success-500);
    padding: 3rem;
    text-align: center;

    &:hover {
      border-color: var(--color-success-750);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px var(--color-second-750), 0 0 0 4px var(--color-second-100);
    }
  }

  &__btnAgain {
    width: 100%;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    outline: none;
    height: 2.5rem;
    background: rgba(83, 255, 255, 0.05);
    color: var(--color-success-500);
    font-size: 1.2rem;
    &:hover{
      background: rgba(36, 238, 164, 0.15);
    }
  }

  &__dropZone {
    margin-top: 0.5rem;
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-success-500);
  }

  &__svg {
    color: var(--color-success-500);
    height: 30px;
    width: 30px;
  }
}


.uploadPhoto-jaw{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //background: rgba(255, 0, 0, 0.19);
  &__workspace{
    width: 90%;
  }
}

.uploadPhoto-input{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //background: orange;

  &__workspace{
    width: 90%;
    height: 100%;
  }
}