.dentist{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin-top: 70px;
  margin-bottom: 70px;

  &__main{
    &-title{
      width: 100%;
      text-align: center;
      margin-top: 2rem;
      color: var(--color-success-500);
      font-weight: 500;
      font-size: 1.5rem;
    }
  }

  &__dashboard{
    width: 100%;
    margin: 1rem auto;
    min-width: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }

}

.dentist::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background: url('../../assets/images/3dental-back-scan.jpg') center/cover no-repeat;
  background: url('/assets/images/3dentai_BACKGROUND_PAGE_DENTIST.jpg') center/cover no-repeat;
  opacity: 0.12; /* Set opacity here */
  z-index: -1;
}