.footer{
  position: fixed;
  bottom: 0;
  min-height: 70px;
  display: flex;
  width: 100%;
  background-color: var(--color-main-750);
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--color-second-600);
  z-index: 1000;
  opacity: .95;
  padding: 1rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
