.ui-password{
  position: relative;

  &-icon{
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    background: rgba(0, 0, 0, 0.12);
    border-radius: 0.25rem;

    &.active{
      color: var(--nav-link-active-color);
    }
  }
}
