.scanStep {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    border-radius: 16px;
  }

  &__wrapper {
    width: 100%;
    min-height: 260px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 16px;
    margin-top: 16px;
  }
}

:where(.css-dev-only-do-not-override-apn68).ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: var(--color-success-500);
  border-color: var(--color-success-500);
}

:where(.css-dev-only-do-not-override-apn68).ant-steps .ant-steps-item-wait .ant-steps-item-icon >.ant-steps-icon {
  color: var(--color-main-500);
  font-weight: 500;
}

:where(.css-dev-only-do-not-override-apn68).ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
  color: var(--color-success-500)
}

:where(.css-dev-only-do-not-override-apn68).ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description {
  color: var(--color-success-400)
}

:where(.css-dev-only-do-not-override-apn68).ant-steps .ant-steps-item-wait .ant-steps-item-icon {
  background-color: var(--color-second-250);
  border-color: var(--color-second-250);
}

:where(.css-dev-only-do-not-override-apn68).ant-steps .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
  color: var(--color-second-250)
}

:where(.css-dev-only-do-not-override-apn68).ant-steps .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description  {
  color: var(--color-second-100)
}

:where(.css-dev-only-do-not-override-apn68).ant-steps .ant-steps-item-finish .ant-steps-item-icon  {
  background-color: var(--color-success-900);
  border-color: var(--color-success-900);
}

:where(.css-dev-only-do-not-override-apn68).ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
  color: var(--color-success-750)
}

:where(.css-dev-only-do-not-override-apn68).ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description {
  color: var(--color-success-600)
}

:where(.css-dev-only-do-not-override-apn68).ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
  background-color: var(--color-success-900);
}

:where(.css-dev-only-do-not-override-apn68).ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
  background-color: var(--color-success-500)
}

:where(.css-dev-only-do-not-override-apn68).ant-steps .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
  background-color: var(--color-second-250)
}

:where(.css-dev-only-do-not-override-apn68).ant-steps .ant-steps-item-finish .ant-steps-item-icon >.ant-steps-icon {
  color: var(--color-main-100)
}